
body {
  color: #6d6d6d;
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
  color: #303030;
  line-height: 1.2;
}

header h2 {
  letter-spacing: -1px;
  font-size: 24px;
  color: #aaa;
  font-weight: normal;
  line-height: 1.3;
}

#container {
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px;
  border: solid 1px black;
}

.inner {
  width: 620px;
  margin: 0 auto;
  border: none;
}

#black {
  display: inline-block;
  background: black;
  min-height: 50px;
  min-width: 50px;
  margin: 10px;
}

#red1 {
  display: inline-block;
  margin:0 auto;
  background: red;
  min-height: 50px;
  min-width: 10%;
  margin: 10px;
}

#red2 {
  display: inline-block;
  margin:0 auto;
  background: red;
  min-height: 50px;
  width: 70%;
  text-align: right;
}

#green {
  background: green;
  min-height: 50px;
  width: 500px;
  margin: 0 auto;
}

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}
